<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.798535883903-72u1vmc7kuef5ntld002voko4e9ru6if</string>
			</array>
		</dict>
	</array>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<true/>
	<key>FirebaseDeepLinkURLScheme</key>
	<string>com.googleusercontent.apps.798535883903-72u1vmc7kuef5ntld002voko4e9ru6if</string>
	<key>GIDClientID</key>
	<string>798535883903-72u1vmc7kuef5ntld002voko4e9ru6if.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googlechrome</string>
		<string>com.googleusercontent.apps.798535883903-72u1vmc7kuef5ntld002voko4e9ru6if</string>
	</array>

	<key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to your photo library to let you attach images in support chat.</string>

    <key>NSCameraUsageDescription</key>
    <string>We need access to your camera to allow capturing and sending images in support chat.</string>

    <key>NSUserNotificationUsageDescription</key>
    <string>Allow notifications to receive support messages and important updates.</string>

</dict>
</plist>
