<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
<array>
    <dict>
        <key>CFBundleURLSchemes</key>
        <array>
            <string>798535883903-lmoh5c9pmflqf3amfsn51l3tk293d8gg.apps.googleusercontent.com</string>
        </array>
    </dict>
</array>
</dict>
</plist>
